<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="blankLogin">
    <test verbose="2" preserve-order="true" name="C:/Users/anhntnguyen/IdeaProjects/OrangeHR_Selenium">
        
        <classes>
            <class name="seleniumTest.testCases.LoginValidationTests">
                <methods>
                    <include name="loginSuccessTest"/>
                    <!--include name="invalidLoginTest"/>
                    <include name="blankUsernameTest"/>
                    <include name="blankPasswordTest"/-->
                </methods>

            </class>
        </classes>

    </test>
</suite>